<div class="recipt">
  <h1>Congratulations!</h1>
  <p class="center">You will recieve an email confirming your nomination</p>
  <div class="recipt-info">
    <p>Your Email:</p>
    <p>Your App name:</p>
    <p>App Name:</p>
  </div>
</div>